#box4{
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
  filter:drop-shadow(4px 8px 10px black);
  border-radius: 10px;
  outline: none;
  border: none;
margin-top: 100px;
}
#box4 #inputbox input{
  outline: none;
  border: none;
  font-size: 16px;
  padding-top: 20px;
  background: transparent;
  color:white;
  font-family: sans-serif;
  border-bottom: 1px solid #fff;
}

#box4 #inputbox{
  position: relative;

}
#box4 #inputbox label{
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 10px 0px;
  font-size: 16px;
  color:#fff;
  pointer-events: none;
  transition: 0.5s;
}
#box4 #inputbox input:focus{
  border-bottom: 1px solid #03a9f4;
  transition:all 2s ease-in-out;
}
#box4 #inputbox input:focus ~ label{
  top:-10px;
  font-size: 12px;
  color: #03a9f4;

}
#box4 #inputbox input:valid ~ label{
  top:-10px;
  font-size: 12px;
  color: #03a9f4;
}
#box4 #btn4{
  background: linear-gradient(70deg,#32CD32,#008000,#ADFF2F);
padding-top: 5px;
  width: 150px;
  height:30px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: serif;
  box-sizing: border-box;

  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
  filter:drop-shadow(4px 8px 10px black);
  margin-left:45px;
  border-radius:10px;
  font-family:arial;



}
#btn4:hover{
  animation: animate 8s linear infinite;


}
@keyframes animate {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }

}
 #btn4:before{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
    background: linear-gradient(70deg,#32CD32,#008000,#ADFF2F);
    background-size: 400%;
    border-radius: 40px;
  opacity: 0;
  transition: 0.5s;


}
#btn4:hover:before{

  opacity: 0.4;
  filter: blur(2px);
    animation: animate 8s linear infinite;


}
@media only screen and (max-width: 700px){

  #box4{
    position: absolute;
    left: 15%;
top:40%;
    height: auto;
    width: 65%;
  }
  #box4 #inputbox input{
    width: 70%;
  }
  #box4 #inputbox{
    top:15px;
    margin-left: 10px;
  }
  #box4 p{
    font-size: 1.3rem;
    width: 100%;
    margin-left: 10px;
  }

  #box4 #inputbox label{
    font-size: 14px;
  }
  #box4 #btn4{
    width: 80px;
    margin-left: 15px;
    margin-top :5px;
    font-size: 14px;
  }
}
